<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIQXs9ckW6YYiByWXS-y3HUbeuY5XfiJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1079441469917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.Cyber-Empire</string>
	<key>PROJECT_ID</key>
	<string>cyberempire-6aa6c</string>
	<key>STORAGE_BUCKET</key>
	<string>cyberempire-6aa6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079441469917:ios:5eef9c0ec36c4d202c4634</string>
</dict>
</plist>